{% extends 'base.html' %}
{% block title %}攻击者画像{% endblock %}
{% block header %}攻击者画像{% endblock %}
{% block content %}
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>IP地址</th>
      <th>UA</th>
      <th>国家</th>
      <th>城市</th>
      <th>首次出现</th>
      <th>最近出现</th>
    </tr>
  </thead>
  <tbody>
    {% for p in profiles %}
    <tr>
      <td>{{ p.id }}</td>
      <td>{{ p.ip_address }}</td>
      <td>{{ p.user_agent }}</td>
      <td>{{ p.country }}</td>
      <td>{{ p.city }}</td>
      <td>{{ p.first_seen }}</td>
      <td>{{ p.last_seen }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}


